html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    padding: 0;
    
}

.portada{
    width: 100%;
    height: 80%;
    background-image: url('https://www.renfe-sncf.com/es-es/blog/PublishingImages/eventos-festivales-musica-francia/eventos_festivales_musica_francia.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portada h1 {
    color: white;
    z-index: 2;
    font-size: 5em;
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 1px 2px black;
}

.portada-opacidad{
    width: 100%;
    height: 80%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
}

.lista-navegacion{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.lista-navegacion li {
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    color: white;
    font-size: 1.1em;
}

.lista-navegacion li:hover{
    color: rgb(215, 115, 233);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.section-quienes-somos{
    margin: 30px 0px;
    display: flex;
    justify-content: center;
}

.card-quienes-somos{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    -webkit-box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.75);
    padding: 2%;
    
}
.titulo-seccion{
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
}
.parrafo-quienes-somos{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 2rem;
    
}

.bandas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 0px
}

.card-banda{
    border-radius: 20px;
    width: 15%;
    -webkit-box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.75);
}

.card-banda img {
    
    border-radius: 20px;
   width: 100%;
   height: 200px;
   object-fit: cover;
   object-position: top;
   filter: grayscale(90);
}

.card-banda h3 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.card-banda p {
    text-align: center;
    line-height: 2rem;
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
}

.contacto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-contacto{
    width: 40%;
    border-radius: 20px;
    padding: 30px;
    -webkit-box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.75);
}

.card-contacto h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.container-input{
    margin: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-input input{
    width: 80%;
}

.container-input textarea{
    width: 80%;
}

.container-btn{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

footer{
    margin-top: 20px;
    width: 100%;
    background-color: black;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-icons i {
    color: white;
    font-size: 2em;
    margin: 0px 10px;
}

.icon-facebook:hover{
    color: #3b5998;
    cursor: pointer;
}

.icon-twitter:hover{
    color: #1da1f2;
    cursor: pointer;
}

.icon-instagram:hover{
    color: #5851db;
    cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .card-quienes-somos{
        width: 60%;
    }
}

@media (min-width: 300px) and (max-width:767px) {
    .card-quienes-somos{
        width: 80%;
    }
}